* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

#conteudo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 30px;
}

#titulo, #banner, #bloco-texto {
    text-align: center;
}